
* {
  box-sizing: border-box;
}

body>footer {
    font-size: 11px;
    background-color: #eee;
    position: fixed;
    bottom: 0;
    padding: 8px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.form-login, .form-register {
  margin: 10% auto;
}

.form-horizontal {
  max-width: 430px;
  padding: 15px;
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}


.list-group {
	max-width:  90%;
}

.owner {
  color : #A5A5A5;
}