<template name="answers">
  <div class="container">
    <header>
      <h2>{{ title }} </h2>
      <p>{{ content }} </p>

      <ul class="list-group">
        {{#each Answers}}
          {{> answer}}
        {{/each}}
      </ul>

      {{#if currentUser}}
        <form class="new-answer">
        <h2>Type to add new answer</h2>
        <div class="input-group">
            <textarea name="content" placeholder="" class="form-control custom-control" rows="3" style="resize:none"></textarea>     
            <input type="submit" class="btn btn-primary" value="Add">
        </div>

          
        </form>
      {{/if}}
    </header>
  </div>

</template>

<template name="answer">
  <li class="list-group-item">
    <p class="content">{{content}}</p>
    {{#if hasAccess}}
      <span class="pull-right">
        <button class="delete">&times;</button>
      </span>
    {{/if}}
  </li>
</template>