<template name="home">
  <div class="container">
    <header>
      <h1>Ask And Answer!</h1>
    </header>
	{{#if currentUser}}
	    <p>Welcome Back {{ user_name }}!</p>
		please <a href="{{pathFor route='ask'}}">Ask New Question </a>  or Answer the below!.
		
	{{else}}
	{{/if}}
	<hr>

	<table class="table">
		<thead>
	      <tr>
	        <th>Recent Questions :</th>
	      </tr>
	    </thead>
	    <tbody>
			{{#each public_questions}}
				{{> question}}
			{{else}}
				<tr>
					<td>No Questions Found
					{{#if currentUser}}
						<span>, please <a href="{{pathFor route='ask'}}">Ask New Question</a> </span>
					{{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
    </table>
  </div> 

</template>