<template name="home">
  <div class="container">
    <header>
      <h1>Welcome To Ask And Answers DashBoard!</h1>
    </header>
	{{#if currentUser}}
	    <ul>
		    <li><a href="{{pathFor route='ask'}}">Ask New Question</a></li>
		</ul>
	{{else}}
		<hr>
	{{/if}}
	<table class="table">
		<thead>
	      <tr>
	        <th>Recent Questions :</th>
	      </tr>
	    </thead>
	    <tbody>
			{{#each public_questions}}
				{{> question}}
			{{else}}
				<tr>
					<td>No Questions Found, please add new question. <a href="{{pathFor route='ask'}}">Ask New Question</a></td>
				</tr>
			{{/each}}
		</tbody>
    </table>
  </div> 

</template>