<template name="login">
    <form class="form-login">
    	<h2>Login</h2>
    	<label for="inputEmail" class="sr-only">Email: </label>
        <input type="email" name="email" id="inputEmail" placeholder="Email address" class="form-control" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" required>

        <input type="submit" value="Login" class="form-control btn btn-primary">
    
	    <div class="login-help">
			<a href="{{pathFor route='register'}}">Register</a> - <a href="{{pathFor route='forget'}}">Forgot Password</a>
		</div>

	</form>

</template>