<template name="questions">
	<h1>Questions</h1>
	<table class="table table-bordered">
		<thead>
	      <tr>
	        <th>My Questions :</th>
	      </tr>
	    </thead>
	    <tbody>
			{{#each questions}}
				{{> question}}
			{{else}}
				<tr>
					<td>No Questions Found</td>
				</tr>
			{{/each}}
		</tbody>
    </table>

		<p>please add new question. <a href="{{pathFor route='ask'}}">Ask New Question</a></p>
</template>

<template name="question">
	<tr>
		<td>
			<a href="{{pathFor 'answers'}}">
				
				<span class="content">{{title}}</span>
				<span class="content">{{content}}</span>
			</a>
			
				<span class="pull-right">
					 <span class="owner">{{createdByFromatted createdBy}}</span>
					{{#if hasAccess}}
			        <button class="delete btn btn-xs btn-warning">
			        	
			          	<span class="glyphicon glyphicon-trash"></span>
			        </button>
			        {{/if}}
			    </span>
			
		</td>
	</tr>
</template>