<template name="questions">
	<h1>Questions</h1>
	<table class="table table-bordered">
		<thead>
	      <tr>
	        <th>My Questions :</th>
	      </tr>
	    </thead>
	    <tbody>
			{{#each questions}}
				{{> question}}
			{{else}}
				<tr>
					<td>No Questions Found, please add new question. <a href="{{pathFor route='ask'}}">Ask New Question</a></td>
				</tr>
			{{/each}}
		</tbody>
    </table>
</template>

<template name="question">
	<tr>
		<td>
			<a href="{{pathFor 'answers'}}">
				<span class="content">{{title}}</span>
			</a>
			<span class="content">{{content}}</span>
			{{#if hasAccess}}
				<span class="pull-right">
			        <button class="delete btn btn-xs btn-warning">
			          <span class="glyphicon glyphicon-trash"></span>
			        </button>
			    </span>
			{{/if}}
		</td>
	</tr>
</template>